<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
     <header>
        {%if user%}
        <strong>{{user}}</strong>
        <a href="/logout">Logout</a>
        {%else%}
        <a href="/login">Login</a>
        {%endif%}

    </header>
    <main>
        <form action="/login" method="post">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit">login</button>
        </form>
    </main>
    
</body>
</html>